<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.17.5" targetFramework="net452" />
  <package id="AWSSDK.EC2" version="3.3.0" targetFramework="net452" />
  <package id="AWSSDK.Route53" version="3.3.6.3" targetFramework="net452" />
  <package id="AWSSDK.Route53Domains" version="3.3.0.21" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.9" targetFramework="net452" />
  <package id="AWSSDK.SimpleEmail" version="3.3.2" targetFramework="net452" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.0.21" targetFramework="net452" />
  <package id="AWSSDK.SQS" version="3.3.1" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Cake.AWS.Route53" version="0.0.8" targetFramework="net452" />
  <package id="Cake.Core" version="0.11.0" targetFramework="net452" />
  <package id="MimeKit" version="1.16.2" targetFramework="net452" />
</packages>